* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-image: url(img/img-fundo.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    margin: 0;
    padding: 0;
}

header {
    background-color: #808080; 
    padding: 16px 0;
    top: 10px;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.menu ul {
    list-style: none;
    display: flex;
}

.menu ul li {
    margin-right: 20px;
}

.menu ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}

.menu ul li a:hover {
    color: #ffb84d;
}

.login-area {
    display: flex;
    align-items: center;
}

.login-area a {
    background-color: #fff;
    color: #285a2a;
    border: none;
    padding: 8px 16px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.login-area button:hover {
    background-color: #f0f0f0;
}
#usuario-logado {
    color: #fff;
    font-weight: bold;
    margin-left: 15px;
}

.container {
    background-color: #333;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    margin: 80px auto;
}

h1 {
    color: #ffb84d;
    text-align: center;
    padding-bottom: 15px;
    font-weight: bold;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color:black;
}

input, select {
    width: 90%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 8px;
    border: 1px solid #000000;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #ffb84d;
    color: #333;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #c18a38;
}

#resultado {
    margin-top: 20px;
    text-align: center;
    font-size: 18px;
    color: #ffb84d;
}

@media screen and (max-width: 425px) {
    body{
        font-family: Arial, sans-serif;
        background-image: url(img/img-fundo.jpeg);
        background-attachment: fixed;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        margin: 0;
        padding: 0;
    }
    h1{
        font-size: 30px;
    }
    .container{
        display: block;
        width: 300px;
    }
    #form-carro .selecao {
        display: block;
        font-size: 15px;
        margin-left: 40px;
    }
    label {
        margin-left: 30px;
    }
    .selecao{
        width: 180px;
    }
    button {
        margin-left: 7vw;
        width: 210px;
    }
}
