*{
    font-family: Arial, Helvetica, sans-serif;
}
body{   
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #141414;
}
.topoPag{
    text-align: center;
}
.iconeTopo{
    size-adjust: 40%;
}
.txtTopo{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
.voltarLogin{
    text-decoration:dotted;
    font-weight: bold;
    color:#ffb84d;
}

/*comando site*/
.telaCadastro{
    display: flex;
    align-items: fit-content;
    justify-content: center;
    height: 100vh;

}
.card{
    background-color:#333;
    padding: 20px;
    border-radius: 50px;
    width: 650px;
    height: 850px;
}
.card-header{
    padding-bottom: 0px;
    opacity: 0.8;
    color: #fff;
    text-align: center;
}
#titulo{
    font-size: 40px;
}
.conteudo label{
    color:#fff;
    font-size: 12px;
    opacity: 0.8;
}
.conteudo{
    display: grid;
    grid-template-columns: 1fr 1fr; /* Duas colunas de largura igual */
    grid-template-areas: 
        "nome endereco"
        "cpf bairro"
        "email cidade"
        "celular1 login"
        "celular2 senha"
        "data_de_nascimento confirmaSenha"
        "nomeMae sexo"
        "cep ."; /* O ponto (.) representa um espaço vazio */

    margin-left: 60px;
    padding: 20px 0;
    margin-top: 0px;
}
.inputs{
    width: 200px;
    height: 35px;
    margin-top: 10px;
    padding: 0 5px;
    background-color: rgb(39, 37, 37);
    border:none;
    border-bottom: 1px solid #dbcdb7;
    outline: none;
    font-size: 14px;
    display: flex;
    color: white;
}
button{
    box-sizing: border-box;
    border-radius: 5px;
    left: 430px;
}
.inputs::placeholder{
    text-transform: none;
}
.inputs#nome{
    text-transform: capitalize;
}
.inputs#nomeMae{
    text-transform: capitalize;
}
.rodape{
    display: flex;
    flex-direction: column;
}
#enviar{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 170px;
    width: 300px;
    height: 40px;
    background-color:transparent;
    border: solid 1px #ffb84d;
    color: #e1e1e1;
    text-align: center;
    cursor: pointer;
    position:static;
    box-shadow: 0px 8px 10px rgba(0,0,0,0.3);
}

#enviar:hover{
    background-color: #ffb84d;
}
.rodape a {
    background-color: #0a9fc4;
    border: none;
    height: 10px;
    width: 180px;
    text-align: center;
    padding: 14px;
    font-size: 14px;
    opacity: 0.8;
    color: #fff;
    text-decoration: none;
    margin: 10px;
    font-style: bold;
    border-radius: 10px;
}
.limpar{
    margin-top: 30px;
    width: 210px;
    height: 35px;
    background-color:transparent;
    border: solid 1px #ffb84d;
    color: #e1e1e1;
    text-align: center;
    cursor: pointer;
    position:sticky;
    box-shadow: 0px 8px 10px rgba(0,0,0,0.3)
}

.limpar:hover{
    background-color: #ffb84d;
}

.sexos{
    margin-bottom: 10px;
    width: 200px;
    height: 35px;
    margin-top: 10px;
    padding: 0 5px;
    background-color: rgb(226, 220, 220);
    border-radius: 5px;
    outline: none;
    font-size: 14px;
    display: flex;
    margin-left: 15px;
}

#sexos:focus{
    background-color: #ffb84d;
}
/*comando site*/
.voltarHome{
    color: white;
    text-decoration: none; 
    font-size: 14px;   
}
.homePage{
    text-align: center;
    width: 50px;
    height: 20px;
    background-color:#ffb84d;
    border-radius: 3px;
    box-shadow: 0px 8px 10px rgba(0,0,0,0.2);
}

input{
    border-radius: 5px;
    margin: 9px;
}
select{
    margin-top: 8px;
}
form{
    margin: 0 auto;
    width: 50%;
    padding: 10px;
    box-shadow: 0px 10px 8px #0e0d0d;
    border-radius: 100px;
    
}
.estadoSP{
    display:none;
}
.estadoRJ{
    display:none;
}
.span-required{
    font-size: 12px;
    margin: 3px 0 0 1px;
    color: red;
    display: none;
    margin-left: 10px;
    margin-top: -8px;
    text-align: justify;
    justify-content: right;
    position: absolute;
}
@media screen and (max-width: 840px) {
    .telaCadastro{
        size-adjust: 100vh;
        display: grid;
        grid-template-columns: 2;
    }
    .inputs{
        display: grid;
        grid-column-start: 1;
        grid-column-end: 3;
    }
    .card{
        size-adjust: 100vh;
        position: absolute;
    }
    .card-header{
        size-adjust: 100vh;
    }
}
